:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --inter-font: "Inter", sans-serif;
  --font-mono: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --white1: #fff;
  --white2: #efefef;

  --orange1: #f17e01;

  --black0: #000;
  --black1: #1a2633;
  --black2: #666e77;
  --black3: #151716;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--inter-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--white1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--inter-font);
}

p {
  font-family: var(--inter-font);
}

a {
  color: inherit;
  text-decoration: none;
}

.mainContainer {
  padding: 0 2rem;
  margin-top: 7rem;
}

/* mobile styles */
@media (max-width: 767px) {
  html,
  body {
    width: 100%;
  }

  .mainContainer {
    margin-top: 4rem;
    padding: 0 0.5rem;
  }
}
